@charset "UTF-8";

body{}

#container {
  width: 100%;
  position: relative;
}
h2{
  font-size: 40px;
  font-weight: 700;
  word-break: keep-all;
}
h3{
  font-size: 28px;
  font-weight: 700;
  word-break: keep-all;
}

/* header */
.header-banner {
  height: 32px;
  background-color: #edf1f5;
  color: #333;
}
.header-banner .inner {
  /* width: 94%;
  max-width: 1600px; */
  width: calc(100% - 80px);
  margin: 0 auto;
  height: 100%;
}
.header-banner .txt {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  padding-left: 37px;
  background: url("../images/common/img_header_flag.png") no-repeat 0 center;
}

.header {
  position: sticky;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  /* height: 156px; */
  border-bottom: 1px solid #CDD1D5;
  box-shadow: 0px 10px 10px 0px #0000001A;

}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  margin: 0 auto;
  max-width: 1800px;
  width: 95%;
  transition: 0.4s ease;
  box-sizing: border-box;
}
.header__info {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.header .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  display: inline-block;
}
.header .logo a {
  display: block;
  width: 279px;
  height: 52px;
  background: url("../images/common/logo.svg") no-repeat center;
  background-size: cover;
  text-indent: -99999px;
  background-size: contain;
  transition: 0.2s ease;
}


.util-wrap{
  /* width: calc(100% - 280px - 180px); */
  width: calc(100%);
  padding-left: 350px;
  text-align: right;
}

.link-wrap {
  display: inline-block;
  font-size: 0;
}
.link-wrap .item {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  font-size: 17px;
}
.link-wrap .item::before {
  content: "";
  position: absolute;
  display: inline-block;
  /* left: 0; */
  left: -15px;
  top: 6px;
  width: 1px;
  height: 13px;
  background-color: #d1d1d1;
}
.link-wrap .item:first-child {
  margin-left: 0;
}
.link-wrap .item:first-child::before {
  display: none;
}
.link-wrap .item:first-child a {
  font-weight: 600;
}
.link-wrap .item a{
  padding-right: 16px;
  background: url("../images/common/ico_newin.png") no-repeat 100% center;
}
.link-wrap .item a.point {
  color: #d71921;
  font-weight: 600;
}

.header .util {
  margin-top: 20px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  padding-right: 157px;
}

.header .gnb {
  width: 100%;
  max-width: 710px;
  box-sizing: border-box;
}
.header .gnb .depth1{
  font-size: 0;
  display: flex;
  /* gap: 40px; */
  justify-content: space-evenly;
}

.header .gnb .depth1 .item {
  box-sizing: border-box;
}
.header .gnb .depth1 .item a{
  display: block;
  padding: 10px;
  word-break: keep-all;
  font-size: 24px;
  font-weight: 700;
  color: #1E2124;
  border-radius: 40px;
  transition: .3s ease-in;
}
.header .gnb .depth1 .item a:hover{
  background-color: #D71921;
  color: #FFFFFF;
}


.login-area{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: 157px;
}

.user, .login{
  display: none;
}
.user.active{
  display: block;
}
.login.active{
  display: block;
}
.user a{
  display: inline-block;
  padding-right: 26px;
  background: url("../images/common/ico_logout.png") no-repeat right center;

  font-size: 15px;
  color: #1E2124;
  vertical-align: middle;
}
.user .name, .login a{
  font-size: 17px;
  font-weight: 700;
}
.login a{
  padding-right: 26px;
  background: url("../images/common/ico_login.png") no-repeat right center;
}


.pc  .header .mobile-gnb-wrap {
  display: none;
}

/* 241218 mobile gnb 스타일 수정 (ej)*/
 .header .mobile-gnb-wrap {
  position: fixed;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease; /*display: none;*/
  z-index: 100;
  padding: 0;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  max-width: 100%;
  display: none;
  /* // 241218 mobile gnb 스타일 수정 (ej)*/
}
 .header .mobile-gnb-wrap .mobile-gnb {
  background-color: #FFFFFF;
  min-width: 300px;
  width: 100%;
  display: inline-block;
  height: 100%;
  overflow-y: auto;
}

/* footer */
.footer {
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0; */
  padding: 20px 0;
  background: #EDF1F5;
  border-top: 1px solid #DDD;
}
.footer .inner{
  max-width: 1800px;
  width: 95%;
  font-size: 0;
}
.footer-logo{
  width: 260px;
  vertical-align: middle;
}
.footer-desc{
  display: inline-flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  width: calc(100% - 260px - 24px);
  font-size: 17px;
  vertical-align: middle;
  flex-wrap: wrap;
}
.footer-desc .left{}
.footer-desc .left p{
  line-height: 150%;
}
.footer-desc .left .address-box{
  color: #1E2124;
}
.footer-desc .left .address{
  margin-bottom: 7px;
  color: #333;
  word-break: keep-all;
  line-height: 150%;
}
.footer-desc .left .address-box em{  
  font-weight: 700;
}
.footer-desc .left .address-box .tel{
  font-size: 0;
}
.footer-desc .left .address-box .tel li{
  display: inline-block;
  font-size: 17px;
  vertical-align: middle;
}
.footer-desc .left .address-box .tel li:last-child{
  position: relative;
  margin-left: 17px;
}
.footer-desc .left .address-box .tel li:last-child::before{
  content: '';
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #6D7882;
  vertical-align: middle;
}
.footer-desc .left .address-box .tel a{
  margin-left: 8px;
}

.footer-desc .right{
  font-size: 15px;
}
.footer-desc .right p,a{
  line-height: 150%;
}
.footer-desc .right .privacy-box{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.footer-desc .right .privacy-box li{
  line-height: 150%;
}
.footer-desc .right .privacy-box  a{
  display: block;
  padding: 1px 2px;
}
.footer-desc .right .privacy-box .privacy a{
  color: #D71921;
  font-weight: 700;
}
.footer-desc .right .copyright {
  margin-top: 6px;
}
/* .footer .copyright{
  font-size: 14px;
  font-weight: 400;
  color: #333333;
} */

/* modal popup */
.b-modal {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-wrap {
  position: fixed !important;
  left: 0;
  top: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  backdrop-filter: blur(2px);
}
.modal-wrap > .f_wrapper {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  padding: 24px;
  margin: auto;
  width: 95%;
  max-width: 585px;
  max-height: 95vh;
  background-color: #FFFFFF;
  border: 1px solid #FFB86B;
  border-radius: 10px;
}
.modal-wrap .modal-head {}
.modal-wrap .modal-head h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: left;
}
.modal-wrap .modal-head span{ 
  vertical-align: middle;
}
.modal-wrap .modal-head h2 + p{
  padding-right: 55px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.modal-wrap .modal-cont-wrap {
  max-height: calc(95vh - 60px);
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal-wrap .modal-cont {
  height: 100%;
  font-size: 17px;
  box-sizing: border-box;
}


.modal-wrap .modal-cont .btn-block {
  margin-top: 30px;
}
.modal-wrap .modal-cont .search-box label {
  color: #333;
}
.modal-wrap .basic {
  padding-left: 0;
  color: #666;
}
.modal-wrap .gray-box {
  padding: 30px 45px;
}


/* 팝업 버튼 스타일 */
.modal-wrap .btn-box {
  margin: 24px auto 0;
  text-align: center;
  font-size: 0;
}

.modal-wrap .btn-box button {
  height: 64px;
  padding: 12px 40px;
  max-width: 160px;
  font-size: 19px;
  font-weight: 600;
  /* width: 100%; */
  border-radius: 8px;
}
.modal-wrap .btn-box button + button{
  margin-left: 8px;
}
.modal-wrap .btn-box .btn.line{
  border: 1px solid #58616A;
  background-color: #fff;
}
.modal-wrap .btn-box .btn.solid{
  background-color: #D71921;
  color: #fff;
}
.modal-wrap .modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  overflow: hidden;
  background-color: #FFFFFF;
  background: url("../images/common/ico_close.png") no-repeat center;
}

.modal-wrap.open {
  display: block;
}



/*모바일 퀵메뉴*/
.mobile-quickmenu{display: none;}


@media screen and (max-width: 1360px) {
  .header .logo a{width: 250px;}
  .util-wrap{padding-left: 260px;}
  /* footer */
  .footer-desc{width: 100%; margin: 12px 0 0 0;}
}
@media screen and (max-width: 980px) {
   
  #container .inner{ padding: 24px 16px; }
  .header .inner {min-height: 64px; }
  .header .logo a{width: 183px;}
  h2{ font-weight: 800; text-align: center; }
  .link-wrap{ display: none; }
  .header .gnb{display: none;}
  .header .util{margin-top: 0;}
  .util-wrap{padding-left: 0;}
  .login-area{min-width: auto;}
  .user a, .login a{display: block; padding: 28px 0 0 0; background-position: top center;}

  /*모바일 퀵메뉴*/
  .mobile-quickmenu {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    font-size: 0;
    box-sizing: border-box;
    box-shadow: -4px -4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 6;
  }
  .mobile-quickmenu .item {
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
  }
  .mobile-quickmenu .item button {
    padding: 0;
  }
  .mobile-quickmenu a {
    display: block;
  }
  .mobile-quickmenu .icon {
    display: inline-block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  .mobile-quickmenu .icon.map {
    background-image: url("../../images/common/ico_map.png");
  }
  .mobile-quickmenu .icon.notice {
    background-image: url("../../images/common/ico_notice.png");
  }
  .mobile-quickmenu .icon.qna {
    background-image: url("../../images/common/ico_chat.png");
  }
  .mobile-quickmenu .icon.mypage {
    background-image: url("../../images/common/ico_user.png");
  }
  .mobile-quickmenu span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #1D1D1D;
  }

  /* footer */
  .footer{padding-bottom: 94px;}
  .footer-desc .right .privacy-box{ justify-content: start; flex-wrap: wrap;}
}
@media screen and (max-width: 768px) {
  .header { height: auto; }

  /* 241218 레이어팝업 (ej)*/
  /* .modal-wrap .modal-cont { padding: 20px; } */
  .modal-wrap .modal-head h2 { font-size: 21px; }
  .modal-cont .find-result .input-box { margin-top: 10px; }
  .modal-cont .find-result .input-box .btn.square { width: 100%; margin-left: 0; }
  .modal-cont .find-result .input-box .input--text { margin-left: 0; max-width: 100%; }
  /* // 241218 레이어팝업 (ej)*/
}
@media screen and (max-width: 500px) {
  .modal-wrap .modal-cont-wrap{
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #DDDDDD;
  }
  .modal-wrap .modal-cont{
    padding-right: 8px;
    height: 600px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 390px) {
  .header-banner .txt { font-size: 12px; font-weight: 600; }
  .header { height: auto; }

  /* footer */
  .footer-desc .left .address-box .tel li:last-child{display: block; margin-left: 0; margin-top: 4px;}
  .footer-desc .left .address-box .tel li:last-child::before{ display: none; }
}
