#container{
    margin: 0;
    padding: 0;
}

.inner{
    /* max-width: 1600px; */
    margin: 0 auto;
}

.visual-wrap{
    padding-top: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.visual-wrap .left{
    position: relative;
    width: 100%;
    max-width: 1378px;
    padding: 30px 40px 20px;
    background: #E4F7ED;
    border-radius: 0 60px 0 0;
}
.visual-wrap .left::after{
    content: "";
    position: absolute;
    right: -48px;
    bottom: 0;
    display: block;
    width: 144px;
    height: 144px;
    background: url(/images/contents/img_deco02.png) no-repeat center;
    background-size: contain;
    z-index: 1;
}

.title-box{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.title-box .deco{
    display: inline-block;
    margin-right: 20px;
    width: 130px;
    height: 120px;
    background: url(/images/contents/img_deco01.png) no-repeat center;
    vertical-align: middle;
}
.title-box h2{
    display: inline-block;
    font-size: 64px;
    font-weight: 700;
    vertical-align: middle;
}
.title-box .btn-shortcut{
    display: inline-block;
    padding: 6px 10px 6px 20px;
    margin-left: 20px;
    background: #FF0000;
    border-radius: 10px;
}
.title-box .btn-shortcut span{
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
    vertical-align: middle;
}
.title-box .btn-shortcut i{
    display: inline-block;
    width:  40px;
    height: 40px;
    margin-left: 10px;
    background: url(/images/common/ico_arrow-w.png) no-repeat center;
    background-size: contain;
    vertical-align: middle;
}
.main .map-wrap .map {
    width: calc(100%);
}
.visual-wrap .right{
    max-width: 390px;
    width: 100%;
}

.banner-swiper{
    position: relative;
    width: 100%;
    height: 100%;
}
.banner-swiper .swiper-wrapper{
    border-radius: 12px;
}
.banner-swiper .swiper-slide{

}
.banner-swiper .banner-link{
    display: block;
}
.banner-swiper .banner-link:focus-visible{
    outline-offset: -4px;
    z-index: 0;
}
.banner-swiper .banner-link img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.banner-swiper .banner-link img.pc{
    display: block;
}
.banner-swiper .banner-link img.mobile{
    display: none;
}
.banner-swiper .control-box{
    position: absolute;
    left: 50%;
    bottom: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    transform: translateX(-50%);
    pointer-events: auto;
    z-index: 5;
}
.banner-swiper .control-box > *{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 0;
    transition: .3s ease;
}

.banner-swiper .control-box .pagination{
    width: auto;
    padding: 0 16px;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    line-height: 40px;
}
.banner-swiper .control-box .pagination .swiper-pagination-current{
    color: #D71921;
}
.banner-swiper .control-box button{
    background-image: url(/images/common/ico_arrow-b.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}
.banner-swiper .control-box .autoplay{
    background-image: none;
}
.banner-swiper .control-box .autoplay span{
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    line-height: 40px;
    background-position: center;
}
.banner-swiper .control-box .autoplay .play{
    display: none;
    background-image: url(/images/common/ico_play.png);
}
.banner-swiper .control-box .autoplay .pause{
    background-image: url(/images/common/ico_pause.png);
}
.banner-swiper .control-box button.btn-prev{
    transform: rotate(180deg);
}
.banner-swiper .control-box .btn-more{
    background-image: url(/images/common/ico_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

@media screen and (max-width: 980px) {
    .visual-wrap{
        padding: 16px 24px;
        padding-bottom: 44px;
        background-color:#E4F7ED;
        flex-direction: column;
    }
    .banner-swiper .banner-link img.pc{
        display: none;
    }
    .banner-swiper .banner-link img.mobile{
        display: block;
    }
    .banner-swiper .control-box{
        position: static;
        display: block;
        margin-top: 24px;
        transform: translate(0);
        text-align: right;
    }
    .visual-wrap .left{
        padding: 0;
        max-width: none;
    }
    .visual-wrap .left::after{
        display: none;
    }
    .title-box h2{
        font-size: 40px;
    }
    .title-box .deco{
        display: none;
    }
    .title-box .btn-shortcut{
        display: block;
        margin: 20px auto 0;
        max-width: 220px;
    }
    .title-box .btn-shortcut span{
        font-size: 40px;
    }
    .visual-wrap .right{
        max-width: none;
    }
}