#container{
    margin: 0;
    padding: 0;
}

.inner{
    /* max-width: 1600px; */
    margin: 0 auto;
}

.visual-wrap{
    padding-top: 40px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.visual-wrap .left{
    width: 100%;
    padding: 30px 40px 20px;
    background: #E4F7ED;
    border-radius: 0 60px 0 0;
    border: 1px solid black;
}
.title-box{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.title-box h2{
    display: inline-block;
    font-size: 64px;
    font-weight: 700;
    vertical-align: middle;
}
.title-box .btn-shortcut{
    display: inline-block;
    padding: 6px 10px 6px 20px;
    margin-left: 20px;
    background: #FF0000;
    border-radius: 10px;
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF;
    vertical-align: middle;
}
.map-wrap{
    position: relative;
    margin-top: 10px;
}
.map-wrap .map{
    max-width: 1370px;
    height: 550px;
    border: 4px solid #18534A
}
.map-wrap .map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map-wrap .control-box{
    /* position: absolute; */
    z-index: 10;
}
.map-wrap .control-box button{
    position: absolute;
    left: 20px;
    background: #E8F3F1;
    border: 1px solid #18534A;
}
.map-wrap .control-box button .icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.map-wrap .control-box button span{
    font-size: 22px;
    font-weight: 600;
    vertical-align: middle;
}
.map-wrap .control-box .my-location{
    top: 20px;
    padding: 8px 20px;
    border-radius: 5px;
}
.map-wrap .control-box .my-location .icon{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url(/images/common/ico_compass.png);
}
.map-wrap .control-box .btn-zoom{
    padding: 5px;
    width: 72px;
    height: 72px;
    border-radius: 100px;
}
.map-wrap .control-box .btn-zoom .icon{
    display: block;
    margin: 0 auto;
}

.map-wrap .control-box .btn-zoom.in{
    bottom: 99px;
}
.map-wrap .control-box .btn-zoom.out{
    bottom: 15px;
}
.map-wrap .control-box .btn-zoom.in .icon{
    background-image: url(/images/common/ico_zoom-in.png);
}
.map-wrap .control-box .btn-zoom.out .icon{
    background-image: url(/images/common/ico_zoom-out.png);
}
.map-wrap .area{
    position: absolute;
    width: 397px;
    height: 397px;
    opacity: 0.4;
    background: #CAE7FF;
    border: 2px solid #33A3FF;
    border-radius: 100%;
    top: 102px;
    left: 458px;
    z-index: 100;
}

.visual-wrap .right{
    max-width: 390px;
    width: 100%;
    border: 1px solid black;
}