#container{
    margin: 0;
    padding: 0;
}

#container .inner{
    padding: 40px 0;
    max-width: 1800px;
}

.visual-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px; */
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.visual-wrap .left, .visual-wrap .right{
    height: 664px;
    background-color: #FFF9E8;
    border: 1px solid #FFB86B;
    border-radius: 20px;
    overflow: hidden;
}
.visual-wrap .left{
    position: relative;
    flex: 0 0 calc(100% - 432px - 24px);
    order: 1;
    display: block; 
    padding: 20px;
    max-width: 1378px;
    font-size: 0;
}
.visual-wrap .right{
    flex: 0 0 432px;
    order: 2;
}
.visual-wrap .bottom{
    flex: 0 0 100%;
    order: 3;
    margin-top: 24px;
}
.visual-wrap .bottom a{
    display: block;
    width: 100%;
}

.left .title-wrap, .left .result-wrap{
    display: flex; 
    width: 100%; 
    box-sizing: border-box;
}
.left .title-wrap{
    align-items: center;
}
.left .title-wrap h2{
    min-width: 40%;
    font-size: 28px;
    text-align: center;
}
.left .title-wrap .result{
    display: inline-flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #FFB86B;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;

    justify-content: space-around;
}
.left .title-wrap .result li{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    justify-content: center;
    word-break: keep-all;
}
.left .title-wrap .result li + li::before{
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #FFB86B;
}
.left .title-wrap .result li br{
    display: none;
}
.left .title-wrap .result li .num{
    color: #D71921;
    word-break: keep-all;
}

.left .result-wrap{
    max-width: none;
    padding: 0;}
.left .result-wrap .map{
    min-width: 40%;
    text-align: center;
    font-size: 13px;
    min-height:300px;
    position: relative;
    padding-bottom: 20px;
}
.left .result-wrap .map .txt{
    padding: 0 20px; 
    text-align: right; 
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.left .result-wrap .map img { } /* 임시 */

.map-pin { 
    display: inline-block;
    padding: 3px;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    min-width: 31px;
    border-radius: 10px;
} 
.map-pin .name { 
    display: block;
    line-height: 100%;
} 
.map-pin .num { 
    display: inline-block;
    line-height: 100%;
} 
.map-pin .unit { 
    display: none;
    line-height: 100%;
}
.map-pin.active { 
    display: inline-block;
    background-color: #D71921;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 6px;
} 
.map-pin.active::before { 
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.99px 7.5px 0px 7.5px;
    border-color: #d71921 transparent transparent transparent;
    display: inline-block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
} 
.map-pin.active .name { 
    display: inline-block;
    font-size: 20px;
} 
.map-pin.active .num { 
    font-size: 20px;
} 
.map-pin.active .unit { 
    display: inline-block;
} 


.left .result-wrap .list{
    display: block;
    padding-right: 20px;
    margin-top: 24px;
    height: 480px;
    overflow: auto;
}
.left .result-wrap .list li{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    font-size: 20px;
    color: #464C53;
}
.left .result-wrap .list li + li{
    margin-top: 6px;
    border-top: 1px solid #CCCCCC;
}

.left .result-wrap .list .info{
    width: calc(100% - 98px - 15px);
}
.left .result-wrap .list .tit{
    display: inline-flex;
}
.left .result-wrap .list h3{
    font-size: 22px;
    font-weight: 700;
    color: #1E2124;
}
.left .result-wrap .list .tag{
    display: inline-block;
    padding: 0 8px;
    margin-left: 6px;
    font-size: 15px;
    color: #5100BA;
    border-radius: 4px;
    border: 1px solid #5100BA;
}
.left .result-wrap .list .tag.gray{
    color: #464C53;
    border-color: #58616A;
}
.left .result-wrap .list .addr{
    display: block;
    margin-top: 4px;
    max-width: 518px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.left .result-wrap .list .addr-btn{
    display: block;
    padding: 10px 16px;
    min-width: 98px;
    font-size: 17px;
    background-size: 20px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
}
.left .result-wrap .list .addr-btn .icon{
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background: url("../images/common/ico_map.png")no-repeat center;
    vertical-align: middle;
    transition: .5s ease;
}
.left .result-wrap .list .addr-btn:hover .icon{
    transform: rotateY(360deg);
}
.left .result-wrap .list::-webkit-scrollbar{
    width: 6px;
}
.left .result-wrap .list::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border: 1px solid #AAAAAA;
}
.left .result-wrap .list::-webkit-scrollbar-track{
    background: #DDDDDD;
    border-radius: 10px;
}

.visual-wrap .right{
    padding: 20px;
    width: 432px;
}

.right .banner-swiper{
    position: relative;
    width: 100%;
    height: 100%;
    height: 564px;
}
.right .banner-swiper .swiper-wrapper{
    border-radius: 12px;
}
.right .banner-swiper .swiper-slide{

}
.right .banner-swiper .banner-link{
    display: block;
}
.right .banner-swiper .banner-link:focus-visible{
    outline-offset: -4px;
    z-index: 0;
}
.right .banner-swiper .banner-link img{
    width: 100%;
    height: 564px;
}
.right .banner-swiper .banner-link img.pc{
    display: block;
}
.right .banner-swiper .banner-link img.mobile{
    display: none;
}
.right .control-box{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    width: 100%;
    pointer-events: auto;
}
.right .control-box > *{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 0;
    transition: .3s ease;
}

.right .control-box .pagination{
    width: auto;
    padding: 0 16px;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    line-height: 40px;
}
.right .control-box .pagination .swiper-pagination-bullet{
    display: inline-block;
    margin: 2px;
    background-color: #6D7882;
    border-radius: 20px;
    opacity: 1;
}
.right .control-box .pagination .swiper-pagination-bullet-active{
    width: 20px;
    background-color: #D71921;
}
.right .control-box button{
    background-image: url("../images/common/ico_arrow-b.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border: 1px solid #CDD1D5;
    border-radius: 50%;
    transition: .3s ease;
}
.right .control-box button:hover{
    
}
.right .control-box .autoplay{
    background-image: none;
}
.right .control-box .autoplay span{
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    line-height: 40px;
    background-position: center;
}
.right .control-box .autoplay .play{
    display: none;
    background-image: url("../images/contents/ico_play.png");
}
.right .control-box .autoplay .pause{
    background-image: url("../images/contents/ico_pause.png");
}
.right .control-box button.btn-prev{
    transform: rotate(180deg);
}
.right .control-box .btn-more{
    background-image: url("../images/contents/ico_plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border: 1px solid #CDD1D5;
    border-radius: 50%;
    transition: .3s ease;
}
.right .control-box .btn-more:hover{
    transform: rotate(180deg);
}

@media screen and (max-width: 1600px) {
    .visual-wrap .left {flex: 0 0 calc(100% - 400px - 24px);}
    .visual-wrap .right{flex: 0 0 400px; height: auto;}
    .result-wrap .result li br{display: block;}
}
@media screen and (max-width: 1365px) {
    #container .inner{
        max-width: none;
        width: calc(100% - 40px);
    }
    .visual-wrap .left {height: auto; flex: 0 0 100%; }
    .visual-wrap .right{flex: 0 0 100%; margin-top: 24px;}
    
    .left .result-wrap .list .info {
        width: calc(100% - 54px - 15px);
    }
    .left .result-wrap .list .addr{
        max-width: none;
    }
    .left .result-wrap .list .addr-btn{
        min-width: auto;
        font-size: 0;
    }
    .left .result-wrap .list .addr-btn .icon{
        margin-top:  0px;
        margin-left: 0px;
    }
    
    .right .banner-swiper{height: auto;}
    .right .banner-link{display: block; position: relative; width: 100%; padding-top: 143.5%; overflow: hidden;}
    .right .banner-swiper .banner-link img{display: block; width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
}
@media screen and (max-width: 980px) {
    #container .inner{padding: 32px 0;}
    .visual-wrap{
        flex-direction: column;
    }
    .visual-wrap .left{
        flex-direction: column;
        max-width: none;
        width: 100%;
    }
    .left .title-wrap{
        flex-direction: column;
        gap: 20px;
    }
    .left .title-wrap .result li br{
        display: block;
    }
    .left .title-wrap .result li .txt{
        font-size: 18px;
    }
    .left .result-wrap .map{
        margin-top: 20px;
        width: 100%;
    }
    .left .result-wrap .map .txt{
        margin-top: 10px;
    }
    .left .result-wrap .list{
        display: none;
    }
    .visual-wrap .right, .visual-wrap .bottom{
        margin-top: 18px;
    }
    .visual-wrap .right{
        order: 3;
        max-width: none;
        width: 100%;
    }
    .right .banner-swiper .banner-link img.pc{
        display: none;
    }
    .right .banner-swiper .banner-link img.mobile{
        display: block;
    }
    .right .control-box{
        position: static;
        display: block;
        margin-top: 24px;
        transform: translate(0);
        text-align: center;
    }
    .visual-wrap .bottom{
        order: 2;
        width: 100%;
    }
    .visual-wrap .bottom a{
        position: relative;
        width: 100%;
        padding-top: 22.6%;
        overflow: hidden;
    }
    .visual-wrap .bottom a img.pc{
        display: none;
    }
    .visual-wrap .bottom a img.mobile{
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 768px) {
    .visual-wrap .left{padding: 24px 10px;}
    .result-wrap{padding: 0;}
    .visual-wrap .right{padding: 0; border: none; background-color: transparent; border-radius: 0;}
    /* .banner-swiper{height: auto;} */
    .banner-swiper .banner-link{padding-top: 143.5%;}
    /* .banner-swiper .banner-link img{display: block; width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);} */
}