*::-webkit-scrollbar{
    width: 6px;
}
*::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border: 1px solid #AAAAAA;
}
*::-webkit-scrollbar-track{
    background: #DDDDDD;
    border-radius: 10px;
}



/* map */
.map-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    max-height: calc(100vh - 126px - 100px);
}
.map-wrap .map{
    width: 100%;
    height: 100%;
    max-width: none;
    transition: .3s ease;
}

.map-wrap .map img{
    width: 100%;
    min-height: 630px;
    object-fit: cover;
}

/* side panel */
.map-wrap .side-panel{
    position: absolute;
    padding: 24px;
    /* padding-bottom: 125px; */
    width: 560px;
    height: 100%;
    background-color: #FFFFFF;
    border-left: 1px solid #FFB86B;
    right: 0;
    top: 0;
    z-index: 2;
    transition: .3s ease;
    box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.map-wrap .side-panel .panel-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}
.tit .tag{
    display: inline-block;
    padding: 2px 7px;
    margin-left: 6px;
    height: 24px;
    font-size: 15px;
    vertical-align: middle;
    color: #5100BA;
    border: 1px solid #5100BA;
    border-radius: 4px;
}
.tit .tag.gray{
    border-color: #58616A;
    color: #464C53;
}

.map-wrap .side-panel .btn{
    display: block;
    padding: 4px 10px;
    min-width: 90px;
    height: 38px;
    box-sizing: border-box;
}
.map-wrap .side-panel .btn.reg{
    margin: 20px auto 0;
    padding: 9px 24px;
    height: auto;
    font-size: 36px;
    font-weight: 600;
}
.map-wrap .side-panel .btn.shortcut{
    display: inline-block;
    padding-left: 38px;
    background-color: #E4F7ED;
    background-image: url(/images/common/ico_shortcut.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 23px;
    border: 2px solid #007461;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}
.map-wrap .side-panel .btn-toggle{
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 36px 5px;
    background-color: #FFFFFF;
    border: 1px solid #FFB86B;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    z-index: 5;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.map-wrap .side-panel .btn-toggle .icon{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/images/common/ico_drop.png');
    background-size: 24px;
    background-position: center;
    transition: .3s ease;
}
.map-wrap .side-panel .btn-toggle:hover .icon{
    background-size: 27px;
}
.map-wrap .side-panel.close{
    right: auto;
    left: 100%;
    box-shadow: none;
}
.map-wrap .side-panel.close .contents{
    display: none;
}
.map-wrap .side-panel.close .btn-toggle .icon{
    transform: rotate(180deg);
}

/* 보수교육기관 목록 */
.map-wrap .side-panel .organ-list{
    padding-right: 8px;
    /* margin-top: 16px; */
    height: 502px;
    overflow: auto;
    height: calc(100%);
}
.map-wrap .side-panel .organ-list .item{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background: #FFF9E8;
    border: 1px solid #FFA038;
    border-radius: 10px;
}
.map-wrap .side-panel .organ-list .item + .item{
    margin-top: 10px;
}
.map-wrap .side-panel .organ-list .item p{
    text-align: left;
}
/* 보수교육기관 목록 */

/* 보수교육기관 상세 */
.map-wrap .side-panel .organ-detail{
    /* padding-right: 8px; */
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.map-wrap .side-panel .organ-detail .contents + .contents{
    margin-top: 24px;
}
.map-wrap .side-panel .organ-detail .tit{
    margin-bottom: 10px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;

    position: relative;
}
.map-wrap .side-panel .organ-detail .tit .wrn-txt{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 400;
    color: #BD2C0F;
}

/* 테이블 */
.map-wrap .side-panel .organ-detail .table{

}
.map-wrap .side-panel .organ-detail .tb-header{
    /* display: flex; */
    width: 100%;
    background-color: #FFA038;
    border-radius: 10px;
}
.map-wrap .side-panel .organ-detail .th{
    padding: 7px;
    /* width: 100%; */
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.map-wrap .side-panel .organ-detail .th + .th{
    border-left: 1px solid #FFF;
}
.map-wrap .side-panel .organ-detail .tb-body{
    margin-top: 6px;
    background-color: #FFF9E8;
}
.map-wrap .side-panel .organ-detail .tr + .tr{
    border-top: 1px solid #FFF;
}
.map-wrap .side-panel .organ-detail .td{
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.map-wrap .side-panel .organ-detail .td + .td{
    border-left: 1px solid #FFF;
}
.map-wrap .side-panel .organ-detail .td br{
    display: none;
}
.map-wrap .side-panel .organ-detail .dot{
    position: relative;
    padding-left: 20px;
    word-break: keep-all;
}
.map-wrap .side-panel .organ-detail .dot::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: #DDDDDD;
}
.map-wrap .side-panel .organ-detail .dot.green::before{
    background-color: #4BD663;
}
.map-wrap .side-panel .organ-detail table .btn-srch{
    display: inline-block;
    padding: 4px;
    min-width: max-content;
    border: 1px solid #58616A;
    border-radius: 6px;
    background-color: #FFF;
    text-align: center;
    transition: .3s ease;
}
.map-wrap .side-panel .organ-detail .btn-srch:hover{
    background-color: #F4F5F6;
}
.map-wrap .side-panel .organ-detail .btn-srch:active{
    background-color: #E6E8EA;
}
.map-wrap .side-panel .organ-detail .btn-srch .icon{
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url('/images/common/ico_arrow-b.png')no-repeat center;
    background-size: cover;
}

.map-wrap .side-panel .organ-detail .last{ }
.map-wrap .organ-detail .inp-box .item{
    display: flex;
    gap: 10px;
}
.map-wrap .organ-detail .dropdown-box{
    position: relative;
    display: block;
    width: 100%;
}
.map-wrap .organ-detail .inp{
    width: 100%;
    font-size: 15px;
}
.map-wrap .organ-detail .dropdown{
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    padding: 10px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #58616A;
    border-radius: 6px;
    box-shadow: none;
    z-index: 1;
}
.map-wrap .organ-detail .dropdown-box.active .dropdown{
    display: block;
}
.map-wrap .organ-detail .dropdown ul{
    padding-right: 8px;
    height: 250px;
    overflow: auto;
}
.map-wrap .organ-detail .dropdown-box + .btn-srch{
    padding: 0 10px;
    padding-right: 32px;
    min-width: 96px;
    font-size: 15px;
    color: #131416;
    background: url('/images/common/ico_arrow-b.png') no-repeat right 10px center;
    background-size: 16px;
    border: 1px solid #58616A;
    border-radius: 6px;
}
.map-wrap .organ-detail .dropdown .select-item{}

.map-wrap .organ-detail .dropdown .select-item + .select-item{
    margin-top: 10px;
}
.map-wrap .organ-detail .dropdown .select-item button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFF9E8;
    border: 1px solid #FFA038;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}
.map-wrap .organ-detail .dropdown .select-item .tit{
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 600;
}
.map-wrap .organ-detail .dropdown .select-item .addr{
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.map-wrap .organ-detail .btn-direction{
    padding: 12px 0;
    margin-top: 10px;
    width: 100%;
    font-size: 19px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    background-color: #D71921;
    border-radius: 6px;
    transition: .3s ease;
}
.map-wrap .organ-detail .btn-direction:hover{
    background-color: #C20F16;
}
.map-wrap .organ-detail .btn-direction span{
    vertical-align: middle;
}
.map-wrap .organ-detail .btn-direction .icon{
    display: inline-block;
    margin-left: 4px;
    width: 24px;
    height: 24px;
    background: url('/images/contents/ico_roadmap.png')no-repeat center;
    vertical-align: middle;
}
.map-wrap .organ-detail + .btn-back{
    padding: 6px 0;
    width: 100%;
    background-color: #767676;
    text-align: center;
    border-radius: 8px;
    transition: .3s ease;
}
.map-wrap .organ-detail + .btn-back:hover{
    background-color: #696969;
}
.map-wrap .organ-detail + .btn-back .icon{
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    background: url('/images/common/ico_shortcut-w.png')no-repeat center;
    vertical-align: middle;
}
.map-wrap .organ-detail + .btn-back span{
    font-size: 19px;
    font-weight: 700;
    color: #FFFFFF;
    vertical-align: middle;
}

.map-wrap .organ-detail .direction-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.map-wrap .organ-detail .direction p{
    display: inline-block;
}
.map-wrap .organ-detail .direction p.time{
    padding-left: 30px;
    background: url(/images/common/ico_clock.png) no-repeat left center;
    font-size: 24px;
    font-weight: 600;
}
.map-wrap .organ-detail .direction p.distance{
    font-size: 18px;
    font-weight: 400;
}
.map-wrap .organ-detail .direction-box .btn{
    padding-right: 26px;
    height: auto;
    font-size: 14px;
    background: url('/images/common/ico_newin-w.png')no-repeat right 8px center;
    background-size: 14px;
    background-color: #767676;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}
.map-wrap .organ-detail .direction-box a:hover{
    background-color: #696969;
}

/* 보수교육기관 상세 */

.map-wrap .side-panel select{
    width: 100%;
}
.map-wrap .side-panel a.btn-more{
    display: inline-block;
    padding: 8px 0px;
    min-width: 135px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #58616A;
    border-radius: 6px;
    text-align: center;
    transition: .3s ease;
}
.map-wrap .side-panel a.btn-more:hover{
    background-color: #F4F5F6;
}
.map-wrap .side-panel a.btn-more span{
    font-size: 17px;
    font-weight: 600;
    vertical-align: middle;
}                                                                          
.map-wrap .side-panel a.btn-more .icon{
    display: inline-block;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background: url('/images/common/ico_arrow-b.png')no-repeat center;
    background-size: 20px;
    vertical-align: middle;
}
.map-wrap .side-panel .tit{
    font-size: 28px;
    font-weight: 700;
    /* word-break: keep-all; */
}
.map-wrap .side-panel .panel-header .tit + p{
    padding-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    border-bottom: 1px solid #999999;
}
.map-wrap .side-panel .addr-box{
    width: calc(100% - 139px - 10px);
    text-align: left;
    font-size: 0;
}
.map-wrap .side-panel .addr-box .tit{
    display: inline-flex;
    align-items: center;
    color: #1E2124;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    vertical-align: middle;
}
.map-wrap .side-panel .addr-box .addr{
    /* width: 330px; */
    color: #464C53;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 테이블 */
.map-wrap .side-panel table{
    width: 100%;
}
.map-wrap .side-panel table thead{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}
.map-wrap .side-panel table tr{
    width: 100%;
}
.map-wrap .side-panel table tr + tr{
    border-top: 1px solid #EEEEEE;
}
.map-wrap .side-panel table th,
.map-wrap .side-panel table td{
    padding: 10px;
    border-left: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
}
.map-wrap .side-panel table th:first-child,
.map-wrap .side-panel table td:first-child{
    border-left: 0;
}
.map-wrap .side-panel table th{
    font-size: 20px;
}
.map-wrap .side-panel table td{
    font-size: 17px;
    font-weight: 400;
}
.map-wrap .side-panel table td .btn.reg{
    margin-top: 0;
    padding: 3px 5px;
    height: auto;
    background-color: #FFFFFF;
    border: 2px solid #007461;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
/* 테이블 */

.map-wrap .side-panel span.bold{
    font-weight: 600;
}
.map-wrap .side-panel .btn-box{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.map-wrap .side-panel .btn-box .btn{
    padding-left: 39px;
    background-color: #E8F3F1;
    border: 2px solid #007461;
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.map-wrap .side-panel .btn-box .btn span{
    vertical-align: middle;
}
.map-wrap .side-panel .btn-box .kkomap{
    margin-right: 10px;
    background-image: url(/images/common/ico_kkomap.png);
}
.map-wrap .side-panel .btn-box .reset{
    padding-left: 35px;
    background-size: 20px;
    background-image: url(/images/common/ico_reset.png);
}


.map-wrap .control-box{
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    /* z-index: 2; */
    font-size: 0;
}

/* 지역변경 라디오버튼 */
.map-wrap .control-box .top .switch-box{
    position: relative;
    display: inline-block;
}
.map-wrap .control-box .switch-box .btn-popup{
    background-image: url(/images/contents/ico_change.png);
}
.map-wrap .switch-box .popup.active{
    display: block;
}
.map-wrap .switch-box .popup{
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    padding: 24px;
    width: 960px;
    /* width: 100%; */
    font-size: 17px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 5px;
    z-index: 3;
}
.map-wrap .switch-box .popup .tit{
    padding-bottom: 10px;
    margin-bottom: 16px;
    font-size: 0;
    border-bottom: 1px solid #CCCCCC;
}
.map-wrap .switch-box .popup .tit span{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    word-break: keep-all;
}

.map-wrap .selected-region span + span::before{
    content: '>';
    display: inline-block;
    margin: 0 4px;
}

.map-wrap .switch-box .rdo-list{}
.map-wrap .switch-box .rdo{
    max-width: 161px;
}
/* 지역변경 라디오 */

.map-wrap .switch-box .popup .btn-box{
    margin-top: 16px;
    font-size: 0;
    text-align: center;
}
.map-wrap .switch-box .popup button{
    padding: 0 40px;
    height: 64px;
    font-size: 19px;
    font-weight: 700;
    box-shadow: none;
    transition: .3s ease;
}
.map-wrap .switch-box .popup button + button{
    margin-left: 8px;
}
.map-wrap .switch-box .popup .btn-apply{
    background-color: #D71921;
    border: 0;
    color: #FFFFFF;
}
.map-wrap .switch-box .popup .btn-apply:hover{
    background-color: #C20F16;
}

/* 기관선택 토글버튼 */
.map-wrap .control-box .toggle-box{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.map-wrap .control-box .toggle-box input{
    position: absolute;
    appearance: none;
}
.map-wrap .control-box .toggle-box input:focus-visible + .toggle{
    outline: 5px dashed #FFA038;
	outline-offset: -2px;
}
.map-wrap .control-box .toggle{
    position: relative;
    display: block;
    padding: 8px 16px;
    padding-left: 46px;
    height: 46px;
    background-color: #A01014;
    color: #FFF;
    font-size: 24px;
    border: 1px solid #999999;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.map-wrap .control-box .switch{
    position: absolute;
    left: 6px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: 0;
    width: 34px;
    height: 34px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    transition: .3s ease;
    box-shadow: 6px 6px 14px 0px #00000033 inset;
}
.map-wrap .control-box #switchToggle:checked + .toggle{
    padding-left: 16px;
    padding-right: 46px;
    background-color: #5100BA;
}
.map-wrap .control-box #switchToggle:checked + .toggle .switch{
    transform: translate(134px, -50%);
}
.map-wrap .control-box #switchToggle:checked +  .toggle span{
    padding-left: 34px;
    background-image: url(/images/contents/ico_toggle02.png);
    background-size: 30px 21px;
    background-position: left 3px top 5px;
}

.map-wrap .control-box .toggle span{
    padding-left: 31px;
    background-image: url(/images/contents/ico_toggle01.png);
    background-repeat: no-repeat;
    background-position: left 3px top 3px;
}
/* 토글버튼 */

.map-wrap .control-box .bottom{position: absolute; bottom: 0px;}

.map-wrap .control-box button{
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    transition: .3s ease;
}
.map-wrap .control-box button:hover{
    background-color: #F4F5F6;
}
.map-wrap .control-box button:active{
    background-color: #E6E8EA;
}
.map-wrap .control-box .square{
    padding: 8px 16px;
    padding-left: 50px;
    border-radius: 8px;
    width: auto;
    background-size: 24px;
    background-position: left 16px center;
}
.map-wrap .control-box button .icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.map-wrap .control-box button span{
    font-size: 22px;
    font-weight: 600;
    vertical-align: middle;
}


.map-wrap .control-box .my-location{
    background-image: url(/images/contents/ico_location.png);
}
.map-wrap .control-box .btn-zoom{
    padding: 5px;
    margin-left: 10px;
    width: 46px;
}
.map-wrap .control-box .btn-zoom .icon{
    display: block;
    margin: 0 auto;
}

.map-wrap .control-box .btn-zoom.in{
    margin-left: 20px;
    background-image: url(/images/contents/ico_zoom-in.png);
}
.map-wrap .control-box .btn-zoom.out{
    background-image: url(/images/contents/ico_zoom-out.png);
}
.map-wrap .pin-wrapper{}
.map-wrap .area{
    position: absolute;
    width: 397px;
    height: 397px;
    opacity: 0.4;
    background: #CAE7FF;
    border: 2px solid #33A3FF;
    border-radius: 100%;
    top: 102px;
    left: 458px;
    z-index: 1;
}
.map-wrap .pin{
    position: absolute;
    left: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    background-color: transparent;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: right bottom;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    box-sizing: border-box;
}
.map-wrap .pin.purple{
    width: 159px;
    height: 96px;
    background-image: url(/images/contents/ico_pin-p.svg);
    top: 301px;
    left: 515px;
}
.map-wrap .pin.purple.active{
    background-image: url(/images/contents/ico_pin-p02.svg);
}
.map-wrap .pin.gray{
    width: 161px;
    height: 71px;
    background-image: url(/images/contents/ico_pin-g.svg);
    top: 306px;
    left: 700px;
}
.map-wrap .pin.gray.active{
    background-image: url(/images/contents/ico_pin-g02.svg);
}
.map-wrap .pin span{
    font-size: 18px;
    color: #000;
    text-shadow: -2px 0px #FFFFFF, 0px 2px #FFFFFF, 2px 0px #FFFFFF, 0px -2px #FFFFFF;
}

/* 교육상세정보 팝업 */
/* .label-list{
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #DDDDDD;
} */
.label-list .item{
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.label-list .item + .item{
    margin-top: 12px;
}
.label-list .item .txt{
    padding: 9px;
    padding-left: 150px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: left;
    /* border-radius: 50px; */
}
.label-list .item .label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 142px;
    background-color: #444444;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.label-list.last{
    padding: 16px 0;
    margin-top: 16px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}
.label-list.last .item{
    border-radius: 24px;
}
.label-list.last .item .label{
    height: auto;
    border-radius: 24px;
}
.label-list.last .item .link-wrap{
    display: flex;
    gap: 20px;
    padding: 10px;
    padding-left: 150px;
    font-size: 18px;
}
.label-list.last .item .link-wrap .link, .label-list.last .item .link-wrap .tel{
    text-align: center;
}
.label-list.last .item .link-wrap p{
    display: inline-block;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}
.label-list.last .item .link-wrap .link p{
    background-image: url('/images/contents/ico_edit.png');
}
.label-list.last .item .link-wrap .tel p{
    background-image: url('/images/contents/ico_call.png');
}

.label-list.last .item .link-wrap a{
    display: block;
    padding: 4px 10px;
    margin-top: 6px;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    font-size: 15px;
}
.label-list.last .item .link-wrap .link a{
    border-color: #256EF4;
    background-color: #ECF2FE;
    color: #0B50D0;
}
.label-list.last .item .link-wrap .link span{
    vertical-align: middle;
}
.label-list.last .item .link-wrap .link i{
    display: inline-block;          
    margin-left: 2px;
    width: 16px;
    height: 16px;
    background: url('/images/common/ico_newin-b.png')no-repeat center;
    vertical-align: middle;
}



@media screen and (max-width: 980px) {
    .map-wrap{
        max-height: none;
    }
    .map-wrap .map{
        width: 100%;
    }

    .map-wrap .control-box{
        position: absolute;
        top: 20px;
        display: flex;
        gap: 10px;
        width: calc(100% - 40px);
    }

    .map-wrap .control-box button{
        position: static;
        width: auto;
    }
    .map-wrap .control-box .top .switch-box{
        position: static;
    }
    /* .map-wrap .control-box .top{
        position: relative;
        width: 100%;
    } */
    .map-wrap .switch-box .popup{
        top: 58px;
        width: 100%;
    }
    .map-wrap .switch-box .rdo-list{
        gap: 10px;
    }
    .map-wrap .switch-box .rdo{
        max-width: calc(100% / 3 - 7px);
    }

    .map-wrap .side-panel{
        top: 160px;
        bottom: 0;
        padding: 20px;
        /* padding-bottom: 20px; */
        width: 100%;
        height: auto;
        box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .map-wrap .side-panel .organ-detail{
        padding-right: 8px;
    }
    .map-wrap .side-panel .dropdown-box{
        width: 100%;
    }
    .map-wrap .side-panel .dropdown{
        height: 230px;
    }

    .map-wrap .side-panel .btn-box{
        position: static;
        margin-top: 20px;
    }

    .map-wrap .side-panel .btn-toggle{
        right: 50%;
        top: 0;
        transform: translate(50%, -100%);
        padding: 5px 36px;
        border-right: 1px solid #FFB86B;
        border-bottom: 0;
        border-radius: 6px 6px 0 0;
        box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .map-wrap .side-panel .btn-toggle .icon{
        transform: rotate(90deg);
    }
    .map-wrap .side-panel.close .btn-toggle .icon{
        transform: rotate(270deg);
    }
    .map-wrap .side-panel .btn.reg{
        padding: 5px 26px;
        font-size: 26px;
    }
    .map-wrap .side-panel.close{
        left: 0;
        right: 0;
        top: calc(100%);
    }

    .map-wrap .side-panel label, .map-wrap .side-panel .tit{
        font-size: 30px;
    }
    .map-wrap .side-panel .addr-box{
        width: calc(100% - 22px - 10px);
    }
    .map-wrap .side-panel a.btn-more{
        height: auto;
    }

    .map-wrap .pin.purple{ left: 14%; top: 22%; }
    .map-wrap .pin.gray{ left: auto; right: 5%; top: 56%; }

    .map-wrap .organ-detail .dropdown{
        height: auto;
    }

    .map-wrap .side-panel .organ-detail table .btn-srch{
        min-width: auto;
        width: auto;
    }
    .map-wrap .side-panel .organ-detail table .btn-srch span{
        display: none;
    }
    .map-wrap .side-panel .organ-detail table .btn-srch .icon{
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {

    .map-wrap .switch-box .rdo-list{
        overflow: auto;
        padding-right: 8px;
        height: 350px;
    }
    .map-wrap .switch-box .rdo{
        max-width: calc(100% / 2 - 5px);
    }
    .map-wrap .switch-box .popup button{
        padding: 0 25px;
        height: 50px;
    }

    .map-wrap .control-box{
        top: 10px;
        left:  10px;
        right: 10px;
        width: calc(100% - 20px);
    }
  
    .map-wrap .control-box .switch-box .btn-popup{
        padding: 4px 8px;
        padding-left: 34px;
        background-position-x: 6px;
    }
    .map-wrap .control-box button span{
        font-size: 18px;
    }
    .map-wrap .control-box .toggle{
        padding: 10px 16px;
        padding-left: 40px;
        font-size: 18px;
    }
    .map-wrap .control-box #switchToggle:checked + .toggle .switch{
        transform: translate(112px, -50%);
    }
    .map-wrap .control-box .toggle span{
        background-position-y: 0;
    }
    .map-wrap .control-box #switchToggle:checked + .toggle span{
        background-position: left top 3px;
    }
    .map-wrap .control-box .my-location{
        padding: 5px;
        width: 56px;
    }
    .map-wrap .control-box .my-location span{
        display: none;
    }
    .map-wrap .control-box .my-location .icon{
        margin-right: 0;
    }
    .map-wrap .control-box .btn-zoom{
        display: none;
    }
    .map-wrap .side-panel .tit{
        font-size: 27px;
    }
    .map-wrap .side-panel .panel-header .tit + p{
        font-size: 19px;
    }
    .map-wrap .side-panel .addr-box .tit{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 10px;
        width: 100%;
        font-size: 18px;
    }
    .map-wrap .side-panel .addr-box .tit .tag{
        margin-left: 0;
    }
    .map-wrap .side-panel .addr-box .addr{
        font-size: 14px;
    }
    .map-wrap .side-panel a.btn-more{
        width: auto;
        min-width: auto;
        height: auto;
    }
    .map-wrap .side-panel a.btn-more span{
        display: none;
    }
    .map-wrap .side-panel a.btn-more .icon{
        margin-left: 0;
    }

    .map-wrap .side-panel .organ-detail .th{
        font-size: 14px;
    }
    
    .map-wrap .organ-detail .direction-box{
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
    }
    .map-wrap .organ-detail .direction{
        width: 100%;
        text-align: left;
    }
}
@media screen and (max-width : 500px) {
    .label-list{
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
    }
    .label-list .item{
        border-radius: 24px;
    }
    .label-list .item .label{
        right: 0;
        bottom: auto;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .label-list .item .txt{
        padding: 10px;
        padding-top: 50px;
        border-radius: 18px;
        text-align: center;
    }

    .label-list.last .item .link-wrap{
        flex-direction: column;
        padding: 20px;
        padding-top: 80px;
    }
}
@media screen and (max-width: 480px) {
    .map-wrap .side-panel .organ-detail .tit .wrn-txt{
        position: static;
        margin-top: 4px;
        transform: none;
    }

    .map-wrap .side-panel .organ-detail .dot{
        padding: 0;
    }
    .map-wrap .side-panel .organ-detail .dot::before{
        position: static;
        display: block;
        margin: 0 auto 4px;
        transform: none;
    }
    .map-wrap .side-panel .organ-detail .td br{
        display: block;
    }
}